@model ITAssignTwo.Models.ContactModel

<h2>@Model.Title</h2>
<h3>@Model.Message</h3>

<address>@Model.AdressLine1 <br>
	@Model.AdressLine2 <br>
	<abbr title="Phone">Phone:</abbr>
    @Model.Phone</address>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@sdu.dk</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@sdu.dk</a>
</address>
